.keyword-wrapper {
    position: relative;
    width: fit-content;
    height: fit-content;
    float: left;
}

.keyword-delete {
    position: relative;
    z-index: 900;
    top: 0px;
    left: 0px;
}

.keyword-delete:hover{
    background-image: linear-gradient( rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2) );
    cursor: pointer;
}

.visible {
    visibility: visible;
}

.keyword-content {
    position: relative;
    left: -12px;
    top: 16px;
}
